
<!-- HEADER -->

<% include ../partials/headerOne %>
<!--INSERT SCRIPTS AND STYLESHEETS BELOW-->
<link rel="stylesheet" href="/CSS/clientAcc/wsTeamList.css">

<script src="/JS/freelancerHome/menuBar.js"></script>

<% include ../partials/headerTwo %>

<div class="menu" style="background-color: rgb(240, 240, 240)">
      
    
                <div class="menuLink" style="font-weight: bolder;text-align: left">
                    <h4 style="padding-left: 40px;margin-top:80px;padding-bottom:90px">Menu</h4>
                    <h3 class="mt-3"><a href="/workspace/client" style="   text-decoration: none !important;font-weight: bold;color: blue">Home</a></h3>
                    <h3 class="mt-5"><a href="/workspace/client/accDetails" style="   text-decoration: none !important;font-weight: bold;color: blue">Account</a></h3>
                    
                </div>
        </div>

<div class="barHolder" style="position: absolute;margin-top: 75px;margin-left: 15px;z-index: 2;">
        <img src="/Images/Freelancer_images/Fhome_images/bars-solidB.svg" alt="" width="37px" height="37px">
</div>

<!-- START HERE -->

<div class="mainDiv container-fluid">
    <div class="row">
        <div class="col-5 blueDiv">
            <center>
                    <h2 style="margin-top:250px;font-weight: bold;color:white" class="mb-4">
                        Select a Wsteam to work on your<br> project <%= prjD.pName %> .
                    </h2>
                    <h4 style="color:rgb(223, 223, 223)">
                        The list has been meticulously constructed according to your project criteria. 
                    </h4>
            </center>
          
        </div>
        <div class="col-7 listHolder">
            <div class="scrollDiv p-3">
                <% wst.forEach(function(ws){ %>
                    <% for(var i = 0; i< prjD.acptTeamReq.length; i++){ %>
                        <% if( prjD.acptTeamReq[i].teamID == ws._id){ %>
                            <div class="reqHolder p-2">
                                <div class="row">
                                    <div class="col-4 pl-4">
                                        <h4 style="color:blue" class="mt-3 ml-1"><b>
                                            <%= ws.teamName %>
                                        </b></h4><br>
                                        <h5 class="ml-1 tCat">
                                            <%= ws.teamCategory %>
                                        </h5>
                                    </div>
                                    <div class="col-4">
                                            <h5  class="mt-2 pt-1 ml-1"><b>
                                                    Team Bio
                                                </b></h4><br>
                                                <h5 class="ml-1 tDec">
                                                    <%= ws.teamDescription %>
                                                </h5>

                                    </div>
                                    <div class="col-4 pl-4">
                                        <% if(ws.wsTeamReviews){ %>
                                            <script>
                                                var rating = 0;
                                            </script>
                                        
                                        <% ws.wsTeamReviews.forEach(function(wsd){ %>
                                            <script>
                                                rating = rating + <%= wsd.stars %> 
                                            </script>
                                         
                                        <% });  %>
                                            <h5 style="padding-top: 9px;"><span style="font-weight: bold;"> Team rating : </span>
                                                <script>
                                                    document.write(rating/<%= ws.wsTeamReviews.length %>);
                                                    rating = 0;
                                                </script>
                                            </h5>
                                          
                                        <% } %>
                                            <form action="/workspace/client/selectTeam/<%= ws._id %>/<%= prjD._id %>/<%= prjD.pManager %>/<%= pname %>" method="POST" class="mt-3">
                                                <button type="submit" class="acptReq">Accept request</button>
                                            </form>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                <% })%>
                    
            </div>
        </div>
    </div>
</div>


<!-- FOOTER -->

<% include ../partials/footerAcc %>