
<!-- HEADER -->

<% include ../partials/headerOne %>
<!--INSERT SCRIPTS AND STYLESHEETS BELOW-->

<link rel="stylesheet" href="/CSS/pmAcc/projectHistory.css">

<script src="/JS/freelancerHome/menuBar.js"></script>

<% include ../partials/headerTwo %>

<div class="menu" style="background-color: rgb(240, 240, 240)">
      
    
                <div class="menuLink" style="font-weight: bolder;text-align: left">
                    <h4 style="padding-left: 40px;margin-top:80px;padding-bottom:90px">Menu</h4>
                    <h3 class="mt-3"><a href="/workspace/projectmanager" style="   text-decoration: none !important;font-weight: bold;color: blue">Home</a></h3>
                    <h3 class="mt-5"><a href="/workspace/freelancer/accountDetails" style="   text-decoration: none !important;font-weight: bold;color: blue">Account</a></h3>
                    
                </div>
        </div>

<div class="barHolder" style="position: absolute;margin-top: 75px;margin-left: 15px;z-index: 2;">
        <img src="/Images/Freelancer_images/Fhome_images/bars-solidB.svg" alt="" width="37px" height="37px">
</div>

<!-- START HERE -->

<div class="mainDiv container-fluid">
    <div class="row">
        <div class="col-5 blueDiv">
            <center>
                <img src="<%= fd.Fimage %>" style="margin-top:200px;border-radius: 50%;" alt="" width="180px" height="180px">
            </center>
            <center>
                <h3 style="color:white;margin-top: 10px;"><b><%= fd.fname %> <%= fd.lname %></b></h3>
            </center>
            <center>
                <h4 style="color:gainsboro"><b>No of projects done: 21 </b></h4 style="color:gainsboro">
            </center>
        </div>
        <div class="col-7 infoDiv pl-3 pr-3" style="padding-top: 80px;">
            <div class="scrollDivHolder">
                <div class="scrollDiv p-2">
                    <% fd.pmProjects.forEach(function(pj){ %>
                        <% prjData.forEach(function(pd){ %>
                            <% if(pj.projectID == pd._id ){ %>
                                <div class="prjBlock container-fluid mb-3">
                                    <div class="row pt-3">
                                        <div class="col-6">
                                            <h4><b>Project name : </b><span style="color: blue;"><%= pd.pName %></span></h4>
                                        </div>
                                        
                                        <div class="col-6 pl-5">
                                            <h4><b>Project progress : </b><span style="color: blue;"><%= pd.prjProgress %>%</span></h4>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        <% }); %>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FOOTER -->

<% include ../partials/footerAcc %>